auto-save-list
projectile-bookmarks.eld
server
elpa
elpa-*
savehist
recentf
eshell
projectile.cache
meghanada
# The README.el(c) file is generated
README.el*
.emacs.desktop*
tramp
bookmarks
.python-environments
transient
network-security.data
request
straight
url
image-dired
eaf
session.*
eln-cache
.cache
.dap-breakpoints
.lsp-session*
